$color-primary: #2a017b;
$color-primary-dark: #1e0355;
$color-secondary: #2f6fe3;
$color-secondary-dark: #2e66ce;
$color-text: #161c28;
$color-text-dark: #00000080;
$color-text-light: #a6a6a6;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #d92d2d;
